*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{

    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}

header{

    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    width: 116,0rem;
    height: 80px;

}

header h1{

    position: absolute;
    color:white;
    left: 830px;

}

.menu img{

    position: absolute;
    width: 100px;

}

/* Menu Hamburger */
.hamburger{

    display: flex;
    position: relative;
    left: 500px;
    flex-direction: column;
    cursor: pointer;

}

.camada{

    width: 30px;
    height: 3px;
    margin: 3px 0;
    background-color: rgb(255, 255, 255);

}

/* Menu Hamburger */

.menu{

    display: flex;
    top: 0px;
    width: 200px;
    height: 100%;
    left: -215px;
    position: fixed;
    transition: 0.3s ease;
    background-color: rgb(36, 36, 36);
    box-shadow: 0 0 20px rgb(23, 23, 23);
    justify-content: center;
    text-align: center;

}

.menu.show-menu{

    left: 0;

}

.menu a{

    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

}

.menu li{

    position: relative;
    top: 100px;

}

.menu li:hover{

    width: 200px;
    background-color: rgb(51, 51, 51);

}

.menu li{

    list-style: none;
    margin-top: 10px;

}